{% extends "base.html.twig" %}

{% block body %}

<h1>Rejoins et crée une partie</h1>

<a href="#">Créer une partie</a>

<div class="container-fluid"></div>
    <div class="row">
    <div class="card col-5" style="max-width: 50%; margin-right: 6em; height:50em">
        <div class="card-header">
          Liste des parties en cours
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>

    <div class="card col-5" style="max-width: 50%;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
</div>

{% endblock %}