{% extends "base.html.twig" %}

{% block body %}

<h2 class="pokemonTitle">Ressources</h2>

<ul class="list-group">
  
    <li class="list-group-item"><a href="{{asset("assets/ressources/Livre d'univers (v5.5).pdf")}}">Livre d'univers (PDF)</a></li>
    <li class="list-group-item"><a href="{{asset('assets/ressources/Livre_de_regles_v5.5.pdf')}}">Livre des regles (PDF)</a></li>
    <li class="list-group-item"><a href="{{asset('assets/ressources/Annexe_2_-_Listes_dobjets.pdf')}}">Liste des objets (PDF)</a></li>
    <li class="list-group-item"><a href="{{asset('assets/ressources/Marge.png')}}">Marges</a></li>
  </ul>

{% endblock %}