

    <h1>Cette page n'existe pas !</h1>

    <p>
       La page que vous essayez d'atteindre n'existe pas. 
    Cliquez ici pour retourner à <a href="{{ path('game_list') }}">la liste des parties</a>.
    </p>
