{% extends "base.html.twig" %}

{% block body %}

	<div class="divTitle divProfil">

		<div class="profil_edit">
			<img id="profil_img" src="{{asset('assets/images/'~ app.user.avatar.name ~'.png')}}" class="card-img-top" alt="{{ app.user.avatar.name }}">

            <h3>Pseudo</h3>
            <p>{{ app.user.nickname }}</p>

            <a class="delete_btn" href="{{ path("delete_profil", {"id": app.user.id }) }}" onclick=" return confirm('Etes-vous sure de vouloir supprimer ce compte ?')">Supprimer mon compte</a>
		</div>

	{% endblock %}
