@import 'reset';

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(../fonts/Roboto-Regular.ttf);
}

/* Specific */
body {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
}

/* h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1;
  font-size: 1.2rem;
} */
