<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameBoard</title>
    <link rel="shortcut icon" href="./favicon.ico">
    <link href="../game/css/vendors~main.css" rel="stylesheet">
    <link href="../game/css/main.css" rel="stylesheet">
</head>
<body>

    <div id="root" data-port="{{ port }}" data-mj="{{ is_mj }}" data-username="{{ username }}"></div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script type="text/javascript" src="../game/js/runtime.19194e80d341ac8a1859.js"></script>
    <script type="text/javascript" src="../game/js/vendors~main.a2ff107b990085acddc1.js"></script>
    <script type="text/javascript" src="../game/js/main.c16ed5ccf4bdc7d181d9.js"></script>
</body>
</html>