<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameBoard</title>
    <link rel="shortcut icon" href="./favicon.ico">
    <link href="../game/css/vendors~main.css" rel="stylesheet">
    <link href="../game/css/main.css" rel="stylesheet">
</head>
<body>

    <div id="root" data-port="{{ port }}"></div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script type="text/javascript" src="../game/js/runtime.19194e80d341ac8a1859.js"></script>
    <script type="text/javascript" src="../game/js/vendors~main.8d2d8ed5d7e7af1ae716.js"></script>
    <script type="text/javascript" src="../game/js/main.d61a4fc4df3fbcbafc07.js"></script>
</body>
</html>



