
<ul>
    <li>Liste des pokémon : /api/pokemons</li>
    <li>Détail du pokémon : /api/pokemon/id</li>
    <li>Liste des dresseurs : /api/trainers</li>
    <li>Détail du dresseurs : /api/trainer/id</li>
    <li>Liste des objets : /api/inventories</li>
    <li>Détail de l'objets : /api/inventory/id</li>
</ul>
