{% extends "base.html.twig" %}

{% block body %}

<h2 class="pokemonTitle">Liste des Dresseurs</h2>

<div class="card-deck-trainer">
  {% for trainer in trainers %}
    <div class="card TrainerCard">
      <img src="{{asset('assets/images/'~ trainer.name ~'.png')}}" class="card-img-top" alt="{{ trainer.name }}">
      <div class="card-body">
        <h5 class="card-title">{{trainer.name}} </h5>
        <a href="{{ path('detail_trainer', {'id' : trainer.id}) }}" class="btn btn-primary">Voir le détail</a>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}